<%- include ('partials/header.ejs') %>

<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset = "UTF-8">
  <link rel = "play_sessions" href="/add-game-session">
  <title> Add Game Session </title>
</head>

<body>
    <header>
      <h1>Game Session Updater</h1>
    </header>
    <form action="/add-game-session" method="POST">
      <fieldset>
        <h3>Add New Game Session</h3>
        <label>Play Date</label>
        <input type ="text" placeholder="YYYY-MM-DD" name="play_date" required>
        <label>Game Title</label>
        <input type ="text" name="game_name" required>
        <label>Number of Players</label>
        <input type ="text" name="num_players" required>
        <label>Winner</label>
        <input type ="text" name="winner" required>
        <br><br>

        <button type ="reset">Reset</button>
        <button type ="submit">Submit</button>
      </fieldset>
    </form>
</body>

<%- include ('partials/footer.ejs') %>
